<!DOCTYPE html>
<html>
    <title>404</title>
    <head>
        <link rel="icon" href="img/weather_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{message}}
        </div>
        {{>footer}}
    </body>
</html>