<!DOCTYPE html>
<html>
<title>Weather | {{title}}</title>

<head>
    <link rel="icon" href="img/weather_icon.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Vestibulum sed arcu non odio euismod lacinia at quis. Nisl rhoncus mattis rhoncus urna neque viverra justo nec.
            Dui sapien eget mi proin sed libero. Mattis pellentesque id nibh tortor id. Feugiat nisl pretium fusce id velit ut.
            Lacus luctus accumsan tortor posuere ac ut. Commodo ullamcorper a lacus vestibulum sed arcu non. Justo nec ultrices dui
            sapien eget mi. Vel eros donec ac odio tempor orci. In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Et
            malesuada fames ac turpis egestas sed tempus. Ultrices dui sapien eget mi proin sed libero enim sed. Non sodales neque
            sodales ut etiam sit amet. Id interdum velit laoreet id donec ultrices tincidunt. In tellus integer feugiat scelerisque.
            
            Tincidunt praesent semper feugiat nibh sed. Turpis cursus in hac habitasse platea dictumst quisque. Leo urna molestie at
            elementum. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Nulla aliquet enim tortor at auctor. Leo
            urna molestie at elementum. A scelerisque purus semper eget duis. Donec enim diam vulputate ut pharetra sit amet aliquam
            id. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Curabitur gravida arcu ac tortor
            dignissim convallis. Purus faucibus ornare suspendisse sed nisi. Ac orci phasellus egestas tellus rutrum tellus
            pellentesque eu.
        </p>
    </div>
    {{>footer}}
</body>

</html>