<!DOCTYPE html>
<html>
<title>Weather | {{title}}</title>

<head>
    <link rel="icon" href="img/weather_icon.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This website was developed using node.js, express.js, javascript, html and css
            <br><br>
            The website will give you real time weather forecast report of any Country, city, State using
            Open weather api.
            <br><br>
            The Deployment server used here is heroku
            <br><br>
            The motive behind this website was to learn fundamentals of node.js, express.js 

        </p>
    </div>
    {{>footer}}
</body>

</html>