<div class="header">
    <h1><a href="/"><img src="/img/weather_icon.png" width="60" height="60"></img></a> {{title}}</h1>
</div>
<ul>
    <li><a class="{{isWeatherActive}}" href="/">Weather</a></li>
    <li><a class="{{isAboutActive}}" href="/about">About</a></li>
    <li><a class="{{isHelpActive}}" href="/help">Help</a></li>
</ul>